*
!.gitignore
!profiles.ini
!/l5xhd7r9.default/
!/l5xhd7r9.default/prefs.js
!/l5xhd7r9.default/extensions.json
!/l5xhd7r9.default/extension-settings.json
!/l5xhd7r9.default/extension-preferences.json
!/l5xhd7r9.default/addons.json
!/l5xhd7r9.default/prefs.js
!/l5xhd7r9.default/search.json.mozlz4
!/l5xhd7r9.default/times.json
!/l5xhd7r9.default/handlers.json
!/l5xhd7r9.default/mimeTypes.rdf
!/l5xhd7r9.default/settings/
!/l5xhd7r9.default/settings/data.safe.bin
!/l5xhd7r9.default/extensions/
!/l5xhd7r9.default/extensions/**